<header class="header-section">
  <div class="header-content">
    <div class="header-content-logos">
      <img class="img-jalisco-defiende" src="assets/img/logo_jaliscosedefiende.svg" alt="">
      <img class="img-jalisco" src="assets/img/logo_jalisco.svg" alt="">
    </div>
    <div class = "header-content-information">
      <div class="header-content-text-info"><span class="text-info">Calculadora</span>  </div>
      <div class="header-content-text-info">
        <img class="icon-size-info" src="assets/img/ico_info.svg" alt="">
        <span class="text-info">Aviso de Privacidad</span> </div>
    </div>
  </div>
</header>
