<section class="card-register-section">
  <div class="container-card">
    <p class="text-title">Campañas activas de vacunacion</p>
    <p class="text-title margin-title">contra Covid-19 (ZMG)</p>
    <app-carousel></app-carousel>
    <div class="divider-w"></div>
    <p class="sub-title-blue">Comenzar ahora</p>
    <div class="box-text">
      <span class="common-text">Ingresa tu CURP para agendar una cita o para </span>
        <a class="common-hipertext" href=""><u>cancelar una cita</u></a>
        <span class="common-text"> ya registrada</span>
    </div>
    <div class="input-items">
      <div class="input-build">
        <div class="icon-people">
          <img src="assets/img/ico_user.svg" alt="">
        </div>
        <input class="input-custom" placeholder="Introduce tu CURP" type="text">
      </div>
      <button class="button-acept"><span class="text-button">Continuar</span> </button>
    </div>
    <div class="container-helper">
      <span class="text-helper">Si no conoces tu CURP </span>
      <a class="less-hipertext" href=""><u>consulta aquí</u></a>
    </div>
  </div>

</section>


