<section class="carousel-section">
  <img class="rotate-icion" src="assets/img/ico_right.svg" alt="">
  <div class="carousel-items">

    <div class="caroucel-item">
      <div class="img-card">
        <img src="assets/img/people.svg" alt="">
      </div>
      <h4 class="title-blue">Personas de 18 y más</h4>
      <p>
        <span class="number-round">1</span>
        <span class="text-blue">Primera dosis</span>
      </p>
    </div>

    <div class="caroucel-item">
      <div class="img-card">
        <img src="assets/img/people.svg" alt="">
      </div>
      <h4 class="title-blue">Personas de 18 y más</h4>
      <p>
        <span class="number-round">2</span>
        <span class="text-blue">Segunda dosis</span>
      </p>
      <h4 class="title-orange">AZTRA ZENECA</h4>
      <span class="text-orange">Primera dosis aplicada antes del 15 de agosto</span>
    </div>

  </div>
  <img src="assets/img/ico_right.svg" alt="">
</section>
