<section class="home-section">
  <div class="home-3D-root">
    <div class="blue-bar"></div>
    <div class="black-background-section"></div>
    <div class="position-arrow"><img src="assets/img/arrow_right.svg" alt=""></div>
    <div class="position-cross"><img src="assets/img/arrow_right.svg" alt=""></div>
    <div class="card-position">
      <app-card-register></app-card-register>
      <div class="img-pointer-contaimer"><img class="img-pointer" src="assets/img/back_puntos.svg" alt=""></div>
    </div>
  </div>
</section>
