<section class="user-info-section">
  <div class="header-card-section">
    <div class="title-section">
      <img class="true-icon" src="assets/img/circle_green.png" alt="">
      <h1 class="title-register">Registro concluido</h1>
    </div>
    <button class="button-cancel">
      <img class="img-cancel" src="assets/img/ico_cancel.svg" alt="">
      <span class="text-button-cancel">Quiero cancelar mi cita</span>
    </button>
  </div>
  <div class="card-info">

    <div class="curp-description">
      <span class="user-curp-title">CURP</span>
      <div class="curp-description-info">
        <span class="text-user-info">XEXX010101MNEXXXA8</span>
        <span class="text-user-info">MARTHA ALICIA CARMONA SOLIS</span>
      </div>
    </div>

    <div class="info-vaccine">
      <div class="icon-people">
        <img class="img-user-size" src="assets/img/people.svg" alt="">
      </div>
      <div class="vaccine-text-info">
        <h4 class="title-blue">Personas de 18 y más</h4>
        <p>
          <span class="number-round">2</span>
          <span class="text-blue">Segunda dosis</span>
        </p>
        <h4 class="title-orange">AZTRA ZENECA</h4>
        <span class="text-user-info">Zapopan</span>
      </div>
    </div>
  </div>

  <div class="card-user-info">
      <div class="item-user-info">
        <h4 class="subtitle-grey">Módulo</h4>
        <span class="user-text-location">Auditorio Benito Juarez</span>
      </div>
      <div class="item-user-info">
        <h4 class="subtitle-grey">Dirección</h4>
        <span class="user-text-location">Av.Mariano Barcenas s/n</span>
        <span class="user-text-location">Col. Auditoria, 45910</span>
        <span class="user-text-location">Zapopan, Jalisco</span>
      </div>
      <div class="item-user-info">
        <h4 class="subtitle-grey">Fecha y Hora</h4>
        <span class="text-circle-blue">Lunes 11 de Octubre 7:30 am</span>
      </div>
  </div>

  <div>
    <p class="p-infor-related">Ya tienes asegurado el lugar y la hora para tu vacnación, ahora para asegurar tu dosis es muy importante que también te
      registres en la plataforma federal. Ingresa a <a href="https://mivacuna.salud.gob.mx">https://mivacuna.salud.gob.mx</a>
      para obtener tu expediente de vacunacion.</p>
    <p class="p-infor-related">Recomendaciones para el dia de tu vacunacion: </p>
  </div>
</section>
